.calculator {
	max-width: 1470px;
}
.wrapper {
	margin-left: auto;
	margin-right: auto;
	padding-left: 47px;
	padding-right: 47px;
}

.title {
	width: 753px;
	padding-top: 213px;
}

@media screen and (max-width: 320px) {
	.wrapper {
		padding-left: 20px;
		padding-right: 20px;
	}
	.title{
		font-size: 34px;
		width: 279px;
	}
}
